@font-face {
  font-family: "gilroy";
  src: url("../fonts/gilroy-regular.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-regular.woff2") format("woff2"), url("../fonts/gilroy-regular.woff") format("woff"), url("../fonts/gilroy-regular.ttf") format("truetype"), url("../fonts/gilroy-regular.svg#gilroy-regular") format("svg"); /* Chrome < 4, Legacy iOS */
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #F7FFF1;
  font-family: "gilroy";
}

p, li {
  font-size: 1.125em;
}

h1 {
  color: #00720B;
}

.main-item {
  margin: 145px 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1110px;
  margin: auto;
}

.green {
  background-color: #48A400;
}

.block_green {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.block_green h1, .block_green p, .block_green h2, .block_green li {
  color: white;
}
.block_green .requirements {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block_green .block_green-item {
  margin: 26px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.block_green .block_green-item .block_green-item--text {
  width: 70%;
  margin: 0 20px;
}

nav {
  background-color: #004607;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
nav a {
  color: white;
  text-decoration: none;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  border-left: 2px solid #AEB8AA;
  padding: 10px 0;
  width: 10%;
}
nav a:first-child {
  border: none;
}
nav a:hover {
  color: #60CA2E;
}

footer {
  background-color: #004607;
}
footer p, footer a {
  color: white;
}
footer nav {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
footer nav a {
  font-size: 1.25em;
}
footer nav a:hover {
  color: white;
  background-color: #60CA2E;
}
footer .footer_inf {
  font-size: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 10px 10px 10px;
}
footer .footer_inf .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
footer .footer_inf .contact a:hover {
  color: #60CA2E;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
footer .footer_inf .contact img {
  width: 51px;
  margin-bottom: 6px;
}