@import "style.scss";

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
.slide-text {
    margin-right: 94px;
    text-align: center;

        h1{
            margin-bottom: 26px;
        }
}

.main-item {
    margin: 145px 0;
}
.scroll {
    position: relative;
    height: 54px;
    align-items: center;
    justify-content: center;
}
.scrollbar {
    position: relative;
    height: 20%;
    width: 94%;
    margin: 0 20px;
}
.swiper-button-prev, .swiper-button-next {
    color: $gr_light !important;
}
.main-item_about {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
        p, h1{
            margin-bottom: 18px;
        }
        li {
            display: flex ;
            list-style: none;
            justify-content: flex-start;
        }
}