@import "style.scss";

nav {
    background-color: $color_gr-black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
        a{
            color: white;
            font-size: 1.125em;
            text-decoration: none;
            transition: .3s ease-out;
            border-left: 2px solid #AEB8AA;
            padding: 10px 0;
            width: 10%;
                &:first-child {
                    border: none;
                }
                &:hover{
                    color: $gr_light;
                }
        }
}

footer {
    background-color: $color_gr-black;
        p,a {
            color: white;
        }
        nav{
            justify-content: flex-end;
                a {
                    font-size: 1.25em;
                        &:hover {
                            color: white;
                            background-color: $gr_light;
                        }
                }
        }
        .footer_inf {
            font-size: 0.8em;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding: 0 10px 10px 10px;

            .contact {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                    a:hover{
                        color: $gr_light;
                        transition: 0.3s ease-out;
                    }
                    img{
                        width: 51px;
                        margin-bottom: 6px;
                    }
            }
        }

}