body {
    background-color: blueviolet;
}
.block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .block_item {
        background-color: rgb(46, 95, 151);
        margin: 20px;
    
        h1  {
            font-size: 40px;
            color: red;
        }
        p   {
            font-size: 20px;
            color: red;
        }
    }
}